//
// FLEX HELPERS
//
// Common flex tasks in plain English, because you shouldn't have to learn what
// "flex basis" means in order to make a web page. *I* don't even know what it
// means.
//
// First apply `.flex;`, then apply one of these rules to your object class.

// EXAMPLE
// <div>
//    <h1>Container with kids</h1>
//    <ol class="container">
//       <li>First</li>
//       <li>Second</li>
//       <li>Third</li>
//     </ol>
// </div>
//
// .container {
//   .flex;
//   .make-children-equal-height;
//   .space-children-equally-to-edge;
// }


.flex {
  display: flex;
}

.wrap-children-normally {
  flex-wrap: wrap;
}

.make-children-equal-height {
  align-items: stretch;
}

.vertically-center-children {
  align-items: center;
}

.space-children-equally {
  justify-content: space-around;
}

.space-children-equally-to-edge {
  justify-content: space-between;
}
