//
// CLEARING AND FLOATING
//

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table
}
.clearfix:after { clear: both }

.clear-l { clear: left; }
.clear-r { clear: right; }
.clear-b { clear: both; }
.clear-n { clear: none; }

.float-l { float: left; }
.float-r { float: right; }
.float-n { float: none; }
