/*

  GRID
  Responsive chainable grid classes courtesy of Neat.
  Settings live in neat/settings/_grid.scss and probably shouldn't be adjusted
  too often.

*/

$grid-sizes: (
  'small': $small-up,
  'medium': $medium-up,
  'large': $large-up,
  'xlarge': $xlarge-up
);

@each $mod, $breakpoint in $grid-sizes {
  @for $i from 0 through $grid-columns {
    .col#{$i}--#{$mod} {
      @include media($breakpoint) {
        @include span-columns($i);
      }
    }

    // Shift to the right by $i number of columns (plus gutters)
    .shift#{$i}--#{$mod} {
      @include media($breakpoint) {
        @include shift($i);
      }
    }
  }

  // Manually specify last column to kill the right margin
  .col-last--#{$mod} {
    @include media($breakpoint) {
      @include omega();
    }
  }
}

@mixin grid-row() {
  @include outer-container;
  padding: 0 flex-gutter(6);

  @include media($medium-up) {
    padding: 0 flex-gutter(12);
  }
}

// Columns go in rows to set up the proper max width and for clearfixing
.row {
  @include grid-row;
}
