/*

  HIDE

*/

// Visually hides an element
@mixin hide() {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/*
  Totally nixes an element, making it inaccessible to screen readers and pretty
  much anything else except javascript, which sees straight through to the DOM.
*/
@mixin gone() {
  display: none;
}

.hide { @include hide; }
.gone { @include gone; }

$hide-sizes: (
  'small': $small-up,
  'medium': $medium-up,
  'large': $large-up,
  'xlarge': $xlarge-up
);

@each $name, $breakpoint in $hide-sizes {
  // Separate base class with breakpoint abbreviation
  $mod: '--' + $name;

  @include media($breakpoint) {
    .hide#{$mod} { @include hide; }
    .gone#{$mod} { @include gone; }
  }
}
