/*
  HIDE
*/

// Visually hides an element
@mixin hide() {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

/*
  Totally nixes an element, making it inaccessible to screen readers and pretty
  much anything else except javascript, which sees straight through to the DOM.
*/
@mixin gone() {
  display: none;
}

.hide { @include hide; }
.gone { @include gone; }
