/*
  SPACE

  Define spacing utility classes! I'm keeping some settings here because they're
  only used here and they make more sense in context.
*/

$space-unit: 20px;

$space-directions: (
  '': '',
  't': 'top',
  'b': 'bottom',
  'l': 'left',
  'r': 'right'
);

$space-steps: (
  'zero': 0,
  'quarter': quarter($space-unit),
  'half': half($space-unit),
  'one': $space-unit,
  'double': double($space-unit),
  'quad': quadruple($space-unit)
);

// Generate math-based and grid-based spacing rules

@import "space.steps";

// Non-mathy functional spacing rules. The fewer of these, the better!

.mar-x-auto {
  margin-left: auto;
  margin-right: auto;
}
