/*
  TYPE SIZES

  The sizes allow for a responsive scale for each class, so that scaling type up
  as screen sizes increase doesn't require multiple classes and our typography
  doesn't become a mess of disparate rules. Switch 'em up if you need, but pay
  attention to how the rest of the system changes.
*/

.font-alpha { font-size: 15px; }
.font-beta { font-size: 20px; }
.font-gamma { font-size: 23px; }
.font-delta { font-size: 28px; }
.font-omega { font-size: 42px; }
